.search-game-div {
    background-color: gray;
    border: 1px solid;

    display: flex;
    flex-direction: row;
    z-index: 6;
}



.search-game-div .banner {
    width: 120px;
    height: 45px;
}