.carousel {
    overflow: hidden;
    height: 353px;
}

.carousel .left {
    left: 31px;
    top: 243px;
    position: absolute;
    width: 23px;
    height: 36px;
    padding: 36px 11px;
    cursor: pointer;
    z-index: 3;
    background-color: gray;
}

.carousel .right {
    right: 31px;
    top: 243px;
    position: absolute;
    width: 23px;
    height: 36px;
    padding: 36px 11px;
    cursor: pointer;
    z-index: 3;
    background-color: gray;
}

.inner {
    position: relative;
    background-color: lightgrey;
    /* Slide change animation */
    /* transition: transform 1s ease-in-out; */
    /* transition: opacity 0.5s ease-in-out; */
}

.show {
    position: absolute;
    width: 940px;
    height: 353px;
    background-color: darkgray;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Slide change animation */
    opacity: 1;
    transition: 400ms ease-in-out;
    /* animation-name: fade; */
}

.not-show {
    /* Slide change animation */
    position: absolute;
    width: 940px;
    height: 353px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 400ms ease-in-out;
    opacity: 0;
    /* animation-name: fade-out; */
}

.show>div {
    width: 100%;
    height: 100%
}

/* @keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.1;
    }
} */