.carousel-background {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.carousel {
    height: 353px;
    width: 940px;
    margin: 0 auto;
}

.inner {
    margin: 0 auto;
    width: 940px;
    height: 353px;
    position: relative;
    box-shadow: 0 0 7px 0px #000;
}

.arrow {
    padding: 36px 11px;
    cursor: pointer;
    z-index: 3;
    background-color: gray;
}

.arrow>div {
    background-image: url(https://store.akamai.steamstatic.com/public/images/v6/arrows.png);
    height: 36px;
    width: 23px;
}

.left {
    left: -46px;
    top: 122px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
    position: absolute;
}

.left:hover {
    background: linear-gradient(to right, rgba(171, 218, 244, 0.3) 5%, rgba(171, 218, 244, 0) 95%);
}

.left>div {
    background-position-x: 23px;
}

.right {
    right: -46px;
    top: 122px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.3) 95%);
    position: absolute;
}

.right:hover {
    background: linear-gradient(to right, rgba(171, 218, 244, 0) 5%, rgba(171, 218, 244, 0.3) 95%);
}

.show {
    position: absolute;
    width: 940px;
    height: 353px;
    /* overflow: hidden; */
    /* background-color: darkgray; */
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    z-index: 1;
    /* Slide change animation */
    opacity: 1;
    transition: 400ms ease-in-out;
}

.not-show {
    position: absolute;
    width: 940px;
    height: 353px;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    overflow: hidden;
    /* Slide change animation */
    z-index: 0;
    opacity: 0;
    transition: 400ms ease-in-out;
}

.show>div {
    width: 100%;
    height: 100%;
}

/* @keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.1;
    }
} */

/* Bottom navigation buttons */

.page {
    text-align: center;
}

.dot {
    display: inline-block;
    margin: 12px 2px;
    height: 9px;
    width: 15px;
    border-radius: 2px;
    background-color: hsla(202,60%,100%,0.2);
    transition: background-color 0.2s;
    cursor: pointer;
}

.dot:hover {
    background-color: hsla(202,60%,100%,0.3);
}

.displayed {
    background-color: hsla(202,60%,100%,0.4);
}