.featured-container {
    box-shadow: 0 0 7px 0px #000;
    height: 353px;
    overflow: hidden;
}

.main-image {
    background-color: #000;
    position: relative;
    margin-right: 10px;
    width: 616px;
    height: 353px;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 10px 5px #000;
}

.featured-info {
    position: relative;
    display: inline-block;
    height: 100%;
}