.carousel-background {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.carousel {
    height: 353px;
    width: 940px;
    margin: 0 auto;
}

.inner {
    margin: 0 auto;
    background-color: lightgrey;
    width: 940px;
    height: 353px;
    position: relative;
}

.arrow {
    padding: 36px 11px;
    cursor: pointer;
    z-index: 3;
    background-color: gray;
}

.arrow > div {
    background-image: url(https://store.akamai.steamstatic.com/public/images/v6/arrows.png);
    height: 36px;
    width: 23px;
}

.left {
    left: -46px;
    top: 122px;
    background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
    position: absolute;
}

.left > div {
    background-position-x: 23px;
}

.right {
    right: -46px;
    top: 122px;
    background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
    position: absolute;
}

.show {
    position: absolute;
    width: 940px;
    height: 353px;
    /* overflow: hidden; */
    /* background-color: darkgray; */
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    /* Slide change animation */
    opacity: 1;
    transition: 400ms ease-in-out;
}

.not-show {
    position: absolute;
    width: 940px;
    height: 353px;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    overflow: hidden;
    /* Slide change animation */
    opacity: 0;
    transition: 400ms ease-in-out;
}

.show>div {
    width: 100%;
    height: 100%;
}

/* @keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.1;
    }
} */
