.game-div {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 5px;
    /* background: #202d39; */
    /* margin-right: 23px; may or may not have to change */
    text-decoration: none;
    color: white;
    width: 618px;
}

.game-div .banner {
    height: 65.92px;
    width: 175.83px;
    background-color: white;
    margin-right: 14px;
}

.game-div .game-name {
    display: block;
    width: 342px;
    color: #C7D5E0;
    margin-top: 10px;
    font-size: 1.25em;
}

.game-div .game-price {
    position: relative;
    margin-left: 12px;
    margin-top: 24px;
    font-size: 15px;
}