.game-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 5px;
    background: #202d39;
    /* margin-right: 23px; may or may not have to change */
    text-decoration: none;
    color: white;
    width: 618px;
}

.banner {
    height: 65.92px;
    width: 175.83px;
    background-color: white;
}

.game-name {
    display: block;
    width: 271px;
    color: #C7D5E0
}