.home-content {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
    padding-top: 20px;
}

#games-list {
    display: block;
    margin-top: 8px;
}

.game-container {
    background: #202d39; 
}

.game-container.focused {
    background: linear-gradient( to right, #c6e6f8 5%,#95bcd3 95%);
    padding-right: 22px;
    margin-right: -22px;
}

.game-container.focused .game-name {
    color: #10161b;
    transition: color 0.25s;
}

.game-container.focused .game-price {
    color: #263645;
}

.game-display-background {
    min-width: 1080px;
    background: linear-gradient(180deg, #2A475E 0%, #1B2838 80%);
}

.game-display-container {
    margin: auto;
    width: 940px;
}

.game-display-main {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: row;

    margin-top: 20px;
}

.game-left-display-container {
    max-width: 618px;
    margin: auto;
}

.tab-preview-container {
    margin-left: 14px;
    width: 292px;
    background: linear-gradient( to right, #95bbd4 5%,#859bac 95%);
    height: 635px;
    position: relative;
}

.tab-preview-content {
    position: absolute;
    top: 9px;
    left: 16px;
}

.tab-preview-content h2 {
    text-transform: none;
    font-size: 21px;
    letter-spacing: 0px;
    color: #263645;
    height: 30px;
    padding-right: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tab-preview-summary {
    padding: 5px 7px;
    margin-bottom: 10px;
    background-color: rgba( 38, 54, 69, 0.6);
    width: 258px;
    border-radius: 2px;
    color: #c6d4df;
}

.tab-preview-tags {
    display: flex;
    flex-direction: row;

    height: 22px;
    margin-top: 5px;
    overflow: hidden;
}

.tab-preview-tags > .tag-link{
    background-color: rgba( 38, 54, 69, 0.6);
    text-decoration: none;
    display: inline-block;
    line-height: 19px;
    padding: 0 7px;
    margin-right: 2px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 3px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;

    color: #ffffff;
}

.tab-preview-tags > .tag-link:hover {
    background-color: #66C0F4
}

.tab-preview-images > img{
    width: 258px;
    height: 124px;
    margin-top: 3px;
}