.cart-page-content {
    margin: auto;
    width: 940px;
}

.cart-page-header-background {
    background: url(https://store.cloudflare.steamstatic.com/public/images//v6/temp/cluster_bg_2.png) bottom center no-repeat;
    padding-bottom: 64px;
}

.cart-page-header-container {
    width: 940px;
    padding: 20px 0px;
}

.breadcrumb {
    color: #56707f;
    font-size: 12px;
    padding: 10px 0px 0px;
}

.home-link {
    color: #8f98a0;
    text-decoration: none;
}

.home-link:hover {
    color: white;
}

.cart-header {
    font-size: 34px;
    color: white;
    font-weight: 300;
    text-shadow: 1px 1px rgb(0 0 0 / 40%);
    letter-spacing: 0.03em;
    margin-top: 10px;
}

.cart-page-main-left {
    width: 616px;
    float: left;
}

.checkout-background {
    background: rgba(0, 0, 0, 0.2);
    margin-top: 4px;
}

.cart-totals-container {
    margin-left: auto;
    margin-top: 3px;
    padding: 16px;
}

.cart-totals-content {
    position: relative;
    margin: 10px 0px 0px;
    font-size: 13px;
    color: #c7d5e0;
    font-weight: bold;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.estimated-total-text {
    color: #C7D5E0;
}

sup {
    color: #C7D5E0;
    font-weight: 400;
    font-size: 11px;
    vertical-align: super;
}

.cart-total-price-content {
    align-items: center;
    color: #c6d4df;
    font-size: 13px;
    padding-top: 2px;
}

.purchase-for-self-or-gift {
    padding: 4px 16px;
    font-size: 13px;
    font-weight: 300;
    color: #C6D4DF;
}

.checkout-buttons {
    text-align: right;
    padding: 15px 0px;
    height: 70px;
}

.purchase-green-button {
    margin-bottom: 8px;
    float: right;
    margin-right: 16px;
    border-radius: 2px;
    border: none;
    padding: 1px;
    text-decoration: none;
    background: linear-gradient( to bottom, rgba(121, 153, 5, 1) 5%, rgba(83, 105, 4, 1) 95%)
}

.purchase-green-button:hover {
    color: white;
    background: linear-gradient( to bottom, rgba(164,208,7,1) 5%, rgba(107,135,5,1) 95%);
    cursor: pointer;
}

.purchase-green-button span {
    color: #D2E885;
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
}

.purchase-green-button:hover span {
    color: white;
}

.disclaimer-text-container {
    padding: 14px 16px;
    font-size: 13px;
    font-weight: 300;
    margin-top: 4px;
}

.sales-tax-tag {
    padding-right: 10px;
    font-size: 13px;
    float: left;
    text-align: right;
}

.sales-tax-tag sup{
    position: relative;
    top: 4px;
    vertical-align: super;
    font-size: smaller;
}

.disclaimer-text {
    padding: 4px 16px;
    font-size: 13px;
    color: #c7d5e0;
}

.continue-shopping-button {
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    background: rgba(103, 193, 245, 0.2);
}

.continue-shopping-button:hover {
    color: white;
    background: linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%)
}

.continue-shopping-button span {
    color: #67c1f5;
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
}

.continue-shopping-button:hover span {
    color: white;
}

.remove-all-items-container {
    float: right;
    line-height: 20px;
    padding-right: 16px;
}

.remove-all-items {
    color: #56707f;
    text-decoration: underline;
    font-size: 11px;
}

.remove-all-items:hover {
    text-decoration: none;
    color: #66c0f4;
    cursor: pointer;
}

.deliver-container h1{
    padding-top: 2px;
    padding-left: 15px;
    text-transform: uppercase;
    color: white;
    margin: 0 0 10px;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: normal;
}

.notice-box {
    color: #c6d4df;
    font-size: 12px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.notice-box-text {
    padding-left: 84px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 300;
}

.first-line {
    font-size: 16px;
}

.second-line {
    padding-top: 8px;
}

.delivery-image {
    float: left;
    height: 57px;
    aspect-ratio: auto 68 / 57;
    width: 68px;
}


.cart-page-main-right {
    width: 308px;
    float: right;
}

/* temp - coming soon */
.cart-page-main-right {
    height: 500px;
    border: 1px solid;
    background-color: gray;
    color: #666;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-page-main-right h2 {
    font-size: 3 rem;
    margin-bottom: 10px;
}

.cart-page-main-right p {
    font-size: 1.5 rem;
}