.cart-item-background {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 3px;
}

.cart-item-content {
    min-height: 77px;
    line-height: 16px;
    padding: 0 2.5%;
    font-size: 13px;
}

.price-and-remove-button {
    float: right;
    padding-top: 20px;
    text-align: right;
}

.cart-item-image {
    float: left;
    margin-top: 16px;
    width: 120px;
    height: 45px;
    background:rgba(0, 0, 0, 0.5);
    /* text-align: center; */
}

.cart-item-title {
    color: #626366;
    overflow: hidden;
    padding: 23px 3% 0 3%;
}

.remove-from-cart {
    color: #56707f;
    text-decoration: underline;
    font-size: 11px;
}

.remove-from-cart:hover {
    color: #67c1f5;
    cursor: pointer;
}