.cart-page-content {
    margin: auto;
    width: 940px;
}

.cart-page-header-background {
    background: url(https://store.cloudflare.steamstatic.com/public/images//v6/temp/cluster_bg_2.png) bottom center no-repeat;
    padding-bottom: 64px;
}

.cart-page-header-container {
    width: 940px;
    padding: 20px 0px;
}

.breadcrumb {
    color: #56707f;
    font-size: 12px;
    padding: 10px 0px 0px;
}

.home-link {
    color: #8f98a0;
    text-decoration: none;
}

.home-link:hover {
    color: white;
}

.cart-header {
    font-size: 34px;
    color: white;
    font-weight: 300;
    text-shadow: 1px 1px rgb(0 0 0 / 40%);
    letter-spacing: 0.03em;
    margin-top: 10px;
}

.cart-page-main-left {
    width: 616px;
    float: left;
}

.cart-page-main-right {
    width: 308px;
    float: right;
}

/* temp - coming soon */
.cart-page-main-right {
    height: 500px;
    border: 1px solid;
    background-color: gray;
    color: #666;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-page-main-right h2 {
    font-size: 3 rem;
    margin-bottom: 10px;
}
.cart-page-main-right p {
    font-size: 1.5 rem;
}