.login-page-content {
	width: 100%;
	background: radial-gradient(rgba(24, 26, 33, 0) 0%, #181A21 100%) fixed no-repeat, url( 'https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg' ) center top no-repeat, #181A21;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-form {
	padding: 70px 66px;
	min-height: 390px;
	max-width: 600px;
	position: relative;
	font-family: "Motiva Sans", Sans-serif;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.login-title {
	font-size: 34px;
	color: #ffffff;
	margin-bottom: 30px;
	font-weight: 200;
	letter-spacing: 2px;
}

.login-inputs {
	background: #32353C;
    border-radius: 3px;
    color: #E9E9E9;
    padding: 8px 6px;
    display: block;
    box-shadow: none;
    border: none;
    transition: border ease-in-out .5s;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
	width: 380px;
	float: none;
}

.login-form-error {
	border: 1px solid #c15755;
}

.login-errors {
	color: #c15755;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
}

.login-labels {
	font-size: 14px;
	color: #b8b6b4;
	vertical-align: top;
}

.login-button {
	background: linear-gradient( to right, #47bfff 5%, #1a44c2 60%);
	color: white;
	padding: 3px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 2px;
	line-height: 30px;
	box-shadow: 2px 2px 5px rgb(0,0,0, 20%);
	background-position: 25%;
	background-size: 330% 100%;
	width: 270px;
	height: 50px;
}

.login-button:hover {
	background: linear-gradient(90deg, #06BFFF 30%, #2D73FF 100%);
}

.username {
	margin-top: 25px;
}

#login {
	color: #1999ff;
	font-weight: 500;
}

.login-form-container {
	background-color: #181a21;
	border-radius: 4px;
	padding: 24px 32px;
	flex: 1;
	display: grid;
	gap: 12px;
}

.login-button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	margin-top: 20px;
}