.show-page {
    background-color: #1B2838;
    padding-top: 10px;
    color: white;
}

.show-page-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
    position: relative;
    z-index: 1;
    width: 940px;
    margin: 0 auto;
}

/* Page header / Game Title */

.top-of-show-page {
    width: 100%;
    padding-bottom: 14px;
}

.show-page-pathing {
    display: block;
    color: #56707F;
    font-size: 12px;
    font-weight: normal;
}

.link-to-home {
    text-decoration: none;
    color: #56707F;
}

.show-page-game-title {
    position: relative;
    text-align: left;
    padding-top: 7px;
    min-height: 46px;
    font-size: 26px;
    color: white;
}

/* Game Display Images and Carousel */

.game-media-and-summary {
    display: flex;
    margin-bottom: 20px;
    background: url(https://store.akamai.steamstatic.com/public/images/v6/app/game_page_background_shadow.png?v=2);
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 12px;
}

.highlights-carousel-container {
    width: 616px;
    float: left;
}

.highlights-cont {
    /* overflow: hidden; */
    margin-right: 16px;
    position: relative;
    height: 337px;
    width: 600px;
}

.image-carousel {
    margin-top: 4px;
    position: relative;
    height: 69px;
    width: 600px;
    margin-bottom: 4px;
    z-index: 40;
    border: 1px solid;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-page-carousel-images {
    height: 65px;
    width: 115px;
    border: 1px solid;
}

.carousel-slider {
    position: relative;
    height: 18px;
    background-color: gray;
    width: 600px;
}

/* Game Description and Statistics */

.game-preview-container {
    width: 324px;
    float: right;
    margin-bottom: 7px;
}

.game-show-banner {
    width: 324px;
    height: 151px;
    background-color: white;
    margin-bottom: 7px;
}

.game-show-summary {
    max-height: 111px;
    overflow: hidden;
    font-size: 13px;
    line-height: 18px;
    padding-right: 16px;
    color: #c6d4df;
    /* webkit takes care of overflow text */
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.game-show-reviews {
    font-size: 12px;
    color: #556772;
    margin-top: 10px;
    display: flex;
    line-height: 16px;
}

.subcolumn-title {
    font-size: 10px;
    padding-right: 10px;
    min-width: 94px;
    color: #556772;
}

.subcolumn-content {
    color: #66C0F4;
    font-size: 12px;
}

.rating-summary {
    color: #66C0F4;
}

.total-reviews {
    color: #556772;
}

.game-show-release-date {
    display: flex;
    line-height: 16px;
    padding-top: 9px;
    padding-bottom: 13px;
}

.date {
    max-height: 30px;
    color: #8f98a0;
    font-size: 12px;
}

.developer-row {
    display: flex;
    line-height: 16px;
}

.tags-row {
    line-height:16px;
}

.tags-title {
    line-height: 19px;
    font-size: 12px;
    color: #556772;
}

.tags-content {
    display: inline-block;
    line-height: 19px;
    padding: 0 7px;
    color: #67c1f5;
    background-color: rgba( 103, 193, 245, 0.2 );
    box-shadow: none;
    margin-right: 2px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 3px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tags-content:hover {
    color: white;
    background-color: #67c1f5;
}

.game-show-main-column {
    display: flex;
}

.game-show-main-left {
    width: 616px;
    float: left;
}



/* Purchase area */

.game-show-main-column {
    width: 940px;
}

/* Purchase area - Left */

.game-show-main-left {
    margin-top: 14px;
}

.game-show-main-right {
    margin-top: 14px;
    margin-left: 16px;
    width: 308px;
    float: right;
}

.game-purchase-container {
    margin-bottom: 28px;
}

.game-purchase-content {
    position: relative;
    background: linear-gradient( -60deg, rgba(226,244,255,0.3) 5%,rgba(84, 107, 115, 0.3) 95%);
    border-radius: 4px;
    color: #c6d4df;
    padding: 16px;
    padding-bottom: 26px;
}

.purchase-text {
    font-size: 21px;
    color: white;
}

.game-purchase-block {
    position: absolute;
    right: 16px;
    bottom: -17px;
    left: 16px;
    text-align: right;
}

.game-purchase-block-background {
    height: 34px;
    vertical-align: bottom;
    display: inline-block;
    background-color: black;
    padding: 2px 2px 2px 0px;
    border-radius: 2px;
}

.game-purchase-price {
    font-size: 13px;
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
    height: 26px;
    display: inline-block
}

.add-to-cart-button {
    position: relative;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    background: linear-gradient( to right, #75b022 5%, #588a1b 95%);
    cursor: pointer;
    border-radius: 2px;

}

.add-to-cart-action {
    border-radius: 2px;
    border: none;
    padding: 1px;
    text-decoration: none;
}

.add-to-cart-action span {
    color: #d2efa9;
    padding: 0 15px;
    line-height: 30px;
}

/* ABOUT THIS GAME + Game Description */

.game-description {
    line-height: 1.5em;
    font-size: 14px;
    margin-top: 30px;
    overflow: hidden;
}

.game-description h2 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 10px;
    letter-spacing: 0.03em;
    padding-top: 2px;
    line-height: 26px;
    background-image: url(https://store.cloudflare.steamstatic.com/public/images/v6/maincol_gradient_rule.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.description-content {
    color: #acb2b8;
}

/* Purchase area - Right */

.right-block {
    background: linear-gradient(to right,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
    padding: 16px;
}

#language-header {
    font-size: 12px;
    color: #8f98a0;
    margin-bottom: 2px;
}

table.game_language_options {
    border-collapse: collapse;
}

.game_language_options tr {
    border-bottom: 1px solid #626366;
}

.game_language_options th {
    font-size: 12px;
    color: #b0aeac;
    font-weight: normal;
}

.game_language_options th.checkcol {
    width: 62px;
}

.game_language_options td {
    color: #8f98a0;
    padding: 3px 0px 3px 0px;
    text-align: center;
    font-size: 12px;
}

/* Reviews */

.review-content {
    margin-bottom: 32px;
    width: 100%;
    margin-top: 20px;
}

/* .reviews-area {

} */