.navbar-container {
    margin: auto;
    display: flex;
    justify-content: center;
    min-width: 940px;
    background: #171a21;
}

.navbar-content {
    height: 104px;
    width: 940px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 44px;
}

.navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 40px;
}

.app-logo {
    width: 50px;
    height: 50px;   
}

.title {
    font-size: 28px;
    margin-left: 8px;
    color: #8b929a;
}

.navbar_menu {
    position: relative;
    padding-left: 35px;
}

.navbar_menu_links {
    padding-right: 14px;
    text-decoration: none;
    color: #b8b6b4;
    font-size: 14px;
}

.navbar_menu_links:hover {
    color: white;
}

.navbar .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 5px;
    font-size: 25px;
    
}

.login-button-home-container {
    height: 25px;
    width: 33.23px;
}

.login-button-nav {
    color: #b8b6b4;
    text-decoration: none;
    line-height: 24px;
    margin: auto;
    font-size: 11px;
}

.auth-links {
    padding-top: 5px;
    color: #b8b6b4;
    font-size: 11px;
    top: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.profile-pic-background {
    width: 34px;
    height: 34px;
    padding: 1px;
    display: inline-block;
    margin-left: 3px;
}

.profile-pic {
    height: 32px;
    width: 32px;
    padding: 1px;
    background: linear-gradient( to bottom, rgba(83,164,196,1) 5%, rgba(69,128,151,1) 95%);
}
