.username {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.profile-button-wrapper {
    position: relative;
}

.profile-button {
    height: 25px;
    background: none;
    margin-right: 6px;
    color: #c5c3c2;
    font-size: 12px;
    position: relative;
}

.profile-button:hover {
    color: white;
    cursor: pointer;
}

.profile-button-dropdown {
    background-color: #171a21;
    box-shadow: 0 0 12px black;
    position: absolute;
    top: 25px;
    width: 150px;
    left: -104px;
    padding: 6px 0px;
}

.profile-button-dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-element {
    color: #b8b6b4;
    padding: 7px 12px;
    font-size: 12px;
}

.dropdown-element:hover {
    color: white;
    cursor: pointer;
}